#banners {
    margin-top: 100px;
    padding: 20px;
}
#visitBrainster {
    background-color: #ede63f;
}
#visitLaika {
    background-color: #7738ff;
    
}
.banner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    color: white;
}
.banner p {
    margin: 0;
}
.bannerBtn {
    color: white;
    background-color: black;
    padding: 10px 30px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin-left: 15px;
}
.bannerBtn:hover {
    color: white;
    text-decoration: none;
}