@import url(main.css);
@import url(fonts.css);
@import url(dataScienceInEd.css);

body {
    font-family: 'CircularStd', sans-serif;
    background-image: url('../images/background.png');
}
.margin-top-bottom-5 {
    margin: 5% 0px 0px 0px;
}
.margin-top-2 {
    margin-top: 2%;
}
.padding-0 {
    padding: 0;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.flex-row-space-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.colorG {
    color: #2cbbad;
}
.text-bold-custom {
    font-weight: bold;
}
.backgroundColorG {
    background-color: #2cbbad;
}
/* heading ======================================== */
#clientImg img {
    width: 90%;
    border-radius: 50%;
}
#clientDescription textarea {
   resize: none;
}
#clientNameSurname{
    padding: 0;
    font-size: 2em;
    padding: 0;
    width: 100%;
}
#clientNameSurname::placeholder {
    /* font-size: 1.3em; */
    padding: 0;
    color: black;
}
#clientTitle::placeholder {
    color: grey;
    
}
#clientTitle {
    color: grey;
    width: 100%;
    font-size:1.5em;
}
#clientQuote {
    color: black;
    width: 110%;
    font-size: 1em;
}
#clientQuote::placeholder {
    color: black;
}
.textarea-o-b-i {
    outline: none;
    border: none;
}

#cvSection {
    padding: 0!important;
}
/* contact inputs  */
#contact {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 30px;
}
.iconContact {
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: black;
}
.contactInput::placeholder {
    color: black;
    border: none;
    box-shadow: none;
} 
.contactInput {
    color: black;
    border: none;
    border-color: none;
    box-shadow: none;
}
.contactInput:focus {
    box-shadow: none;
    border: none;
}
.input-group-addon {
    padding: 0px 5px;
}
/* ================================LeftSide================================================== */
#cvLeftSide input, #cvLeftSide textarea {
    width: 100%;
   
}
textarea {
    width: 100%;
    resize: none;
    overflow: hidden;
}
.workPosition::placeholder, .educationTitle::placeholder {
    font-weight: bold;
    color: black;
}
input.workPosition, input.educationTitle  {
    font-weight: bold;
    color: black;
    font-size: 1.1em;
}
.workCompany::placeholder, .educationSchool::placeholder {
    color: black;
    font-size: 0.8em;

}
.workCompany, .educationSchool {
    color: black;
    font-size: 1.2em;
}
.dateLocation input::placeholder  {
    color: grey;
    font-size: 0.9em;
}
.fa-minus {
    padding-top: 3px;
}
/* ===========Education Finish here====== */
/* Right Side    ==================================================*/
/* skills  */
.skillInput {
    color: black;
    font-size: 1.1em;
}
.skillInput::placeholder {
    color: black;
}
.dot {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    display: inline-block;
  }
  .backgroundBlack {
      background-color: black;
  }
  .bacgroundWhite {
      background-color: white;
  }

.fontSize-0-9 {
    font-size: 0.9em;
}
/* test OK =====================================================================*/ 
img {
    max-width:250px;
    height: 100%;
}
input[type=file] {
    color: black;
    position: absolute;
}
#photoUploader {
    position: absolute;
    top: 25%;
    left: 35%;
    color: white;
}
/* only samples, hides on edit */
.sampleInformal {
    border-radius: 3px;
    border: 1px solid black;
    background: transparent;
    float: left;
    margin: 3px;
    padding: 5px;
    font-size: 1.2em;
    vertical-align: middle;
    color: black;
}
.skillSection {
    margin-top: 5px;
}

input[disabled], textarea[disabled] {
    background-color: transparent;
}
input.contactInput[disabled] {
    background-color: transparent;
}

div#addWork, div#addEducation, div#addSkill, div#addProject, div#addLanguage {
    background-color: black;
    color: white;
    /* border-radius: 3px; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    cursor: pointer;
    padding: 5px;
    font-size: 0.8em;
}
div#addWork:hover, div#addEducation:hover, div#addSkill:hover, div#addProject:hover, div#addLanguage:hover {
    background-color: #6630d8;
}
/* delete button */
.fa-minus-circle {
    color: #6630d8;
}
.fa-minus-circle:hover {
    cursor: pointer;
}
@media only screen and (max-width:768px) {
    #info {
        display: none;
    }
}
